@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';


.chat-container {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 350px;
    
    .toggle-chat-bar {
        background-color: $primary-color-1;
        width: inherit;
        padding: 8px;
        cursor: pointer;
        border: 2px solid $base-black;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    
    i::before{
        color: $primary-color-2;
        bottom: 6px;
        right: 15px;
        position: absolute;
        font-size: 17px;
        cursor: pointer;
    }

    .chat-list-container {
        @include display-flex();
        @include flex-direction(column);
        background-color: $background-1;
        overflow-y: scroll;
        height: 250px;

        .message {
            @include display-flex();
            @include flex-direction(column);
            padding: 5px;
            margin: 4px;
            border-radius: 8px;
            min-width: 180px;
            max-width: 280px;
            color: $base-white;
            
            .user-name {
                @include display-flex();
                @include justify-content(space-between);
                font-weight: bold;

                .date {
                    color: $base-white;
                    margin-left: auto;
                }
            }
        }

        .mine {
            align-self: flex-end;
            border-bottom-right-radius: 0px;
            background-color: $primary-color-1;
        }

        .others {
            align-self: flex-start;
            border-top-left-radius: 0px;
            background-color: $primary-color-2;
        }
    }

    .chat-input-container {
        width: inherit;

        input {
            width: inherit;
        }
    }
}