<div class="chat-container">
    <div class="toggle-chat-bar" (click)="visible = !visible">{{visible ? 'Ocultar' : 'Mostrar'}} chat</div>

    <ng-container *ngIf="visible">

        <div #chatScroll class="chat-list-container">
            <ng-container *ngFor="let message of messages">
                <div class="message" [class]="message.createdBy === currentUser?.email ? 'mine' : 'others'">
                    <div class="user-name" [ngStyle]="{'color': stringToColor(message.createdBy)}">
                        <span *ngIf="message.createdBy !== currentUser?.email">
                            {{message.displayName}}
                        </span>
                        <span class="date">
                            {{message.date | date: 'shortTime'}}
                        </span>
                    </div>
                    {{message.message}}
                </div>
            </ng-container>
        </div>

        <div class="chat-input-container">
            <input [(ngModel)]="newMessage" type="text" placeholder="Crea un mensaje"
                (keypress)="handleSubmitMessage($event)">
            <i (click)="handleSubmitMessage($event, true)" class="pi pi-send"></i>
        </div>

    </ng-container>
</div>