@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';

.page-content {

    .title {
        color: $base-white;
        margin-left: 50px;
    }

    .presentation {
        @include display-flex();
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
        color: $base-white;

        h1 {
            cursor: pointer;
        }
    }

    .life-bar {
        @include display-flex();
        @include align-items(center);
        color: $base-white;
        gap: 4px;

        p {
            color: $base-white;
        }

        .full-heart {
            height: 20px;
            width: 20px;
        }
    }

    .score {
        color: $shiny-color;
        margin: 20px 0;
        font-size: 30px;
    }

    .game-container {
        @include display-flex();
        @include flex-direction(column);
        @include align-items(center);

        .country-flag {
            border-radius: 14px;
            border: 3px solid $primary-color-1;
            height: 250px;
            width: 400px;
        }



        .options-container {
            @include display-flex();
            @include justify-content(center);
            flex-wrap: wrap;
            margin-top: 40px;
            gap: 8px;

            .option {
                min-width: 150px;
                height: fit-content;
                margin: 8px;
                background-color: $primary-color-1;
                text-align: center;
                padding: 8px;
                border-radius: 8px;
                color: $primary-color-3;
                cursor: pointer;
                transition: 0.2s all;
                border: 2px solid $primary-color-1;

                &:hover {
                    border: 2px solid $shiny-color;
                    color: $shiny-color;
                    background-color: $primary-color-3;
                    transform: scale(1.05);
                }
            }
        }
    }

}