<div class="page-content">
    <sidebar />


    <div class="about-title">
        <h3>¿Quién soy?</h3>
    </div>
    <div class="about-content">

        <div class="about-img">
            <img src="../../../assets/fotolinkedin.jpg" class="user-img" alt="FotoJuli">
        </div>

        <div class="about-detail">
            <h2 class="introduction">
                Julián Schmidt, Desarrollador de Software.
            </h2>
            <p class="description">
                Apasionado por la tecnología e informática.
                Estudiante en la Universidad Tecnológica Nacional (UTN).
                <br>
            </p>


            <div class="extras">
                <div>
                    <h2>Logros en la vida</h2>

                    <ul>
                        <li><a class="diamond" href="https://www.op.gg/summoners/las/julian%20ski-kod"
                                target="_blank">Diamante</a> en el LoL</li>
                        <li>Vivir 24 años</li>
                    </ul>
                </div>

                <div>

                    <h2>Hobbies</h2>
                    <ul>
                        <li>Gaming</li>
                        <li>Entrenar</li>
                        <li>Comer en restaurantes asiáticos</li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>