<div class="screen">
    <p-toast />
    <div class="login-layout">

        <div class="logo-container">
            <img src="../../../assets/icon-full.svg" alt="GamesRoom Icon">
        </div>

        <div class="credentials">
            <h1 class="login-title">Games Room</h1>

            <label for="userName">Correo electrónico</label>
            <input type="text" name="userName" pInputText [(ngModel)]="user.email" />

            <label for="userName">Contraseña</label>
            <input type="password" name="password" pInputText [(ngModel)]="user.password" />

            <div class="action-buttons">
                <button class="custom-button admin-effect" (click)="setAdminCredentials()">¡SOY ADMIN!</button>
                <button class="custom-button" (click)="handleLogin()">Ingresar</button>
            </div>
        </div>

    </div>

</div>