<p-sidebar class="custom-sidebar" [(visible)]="isVisible">
    <ng-template pTemplate="headless">
        <div class="sidebar-content">

            <div class="sidebar-header">
                <img src="../../../assets/icon-profile.svg" alt="Profile icon">
                <h3 class="user-name">
                    {{loggedUser.userName.toUpperCase()}}
                </h3>
            </div>

            <div class="sidebar-actions">
                <div class="sidebar-navigation-options">

                    <a class="option navigation" *ngFor="let item of navigationOptions" routerLinkActive="active"
                        [routerLink]="item.navigateTo">
                        {{item.title}}
                    </a>

                </div>

                <div (click)="handleLogout()" class="option logout">
                    Cerrar sesión
                </div>
            </div>

        </div>
    </ng-template>
</p-sidebar>
<div class="head-toggle">
    <div class="logo-row">
        <span (click)="isVisible = true" class="pi pi-bars toggle-icon"></span>
        <span class="title">GamesRoom</span>
    </div>
</div>