<div class="page-content">
    <sidebar />
    <chat-list />
    <h1 class="title">Ahorca2</h1>


    <ng-container *ngIf="(currentGameState?.inGame && !currentGameState?.victory)">
        <div class="output-container">

            <div class="key-word">
                <span *ngFor="let letter of currentWord.splittedWord">
                    {{getRevealedWord(letter)}}
                </span>
            </div>

            <div class="remaining-tries">
                Intentos restantes: {{currentGameState?.triesLeft}}
            </div>
        </div>

        <div class="keyboard-container" *ngIf="currentGameState?.inGame">
            <div *ngFor="let key of keyboard" (click)="handleSelectKey(key)" class="key"
                [ngClass]="selectedLetterStyle(key)">
                {{key}}
            </div>
        </div>
    </ng-container>
    <div class="result">
        <div class="tries-body-container"
            *ngIf="(currentGameState && currentGameState.inGame) || (currentGameState && currentGameState?.triesLeft === 0)">
            <div class="row">
                <div></div>
                <div>
                    <ng-container *ngIf="currentGameState.triesLeft <= 5;">☠️</ng-container>
                </div>
                <div></div>
            </div>
            <div class="row">
                <div>
                    <ng-container *ngIf="currentGameState.triesLeft <= 3;">💪🏼</ng-container>
                </div>
                <div>
                    <ng-container *ngIf="currentGameState.triesLeft <= 4;">👕</ng-container>
                </div>
                <div>
                    <ng-container *ngIf="currentGameState.triesLeft <= 2;">💪🏼</ng-container>
                </div>
            </div>
            <div class="row">
                <div>
                    <ng-container *ngIf="currentGameState.triesLeft <= 1;">🦵🏼</ng-container>
                </div>
                <div></div>
                <div>
                    <ng-container *ngIf="currentGameState.triesLeft <= 0;">🦵🏼</ng-container>
                </div>
            </div>

        </div>
    </div>
    <div class="title-container">
        <ng-container *ngIf="currentGameState?.victory">
            <h1>GANASTE 😎</h1>
            <h2>Tu palabra es: {{currentWord.fullWord}}</h2>
        </ng-container>
        <h1 *ngIf="!currentGameState?.victory && !currentGameState?.triesLeft">PERDISTE ☠️</h1>
        <h1 (click)="handleStartGame()" *ngIf="!currentGameState?.inGame">COMENZAR PARTIDA</h1>

    </div>


</div>