/* You can add global styles to this file, and also import other style files */

@import './app/styles/colors.scss';
@import './app/styles/mixins.scss';

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: $background-1;
}

* {
    font-family: "Pixelify Sans";
}

.page-content {
    @include center-content();
    height: 100%;
    width: 100%;
}


.custom-button {
    padding: 8px;
    text-transform: uppercase;
    box-shadow: none;
    background-color: $primary-color-1;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    color: white;
}

input {
    padding: 5px;

    &:focus {
        box-shadow: 0 0 0 0.2rem $primary-color-1;
        border-color: none;
    }
}

label {
    color: white;
}
